<ion-view view-title="ABOUT">
  <ion-content>
  	<div class="card">
	  <div class="item item-text-wrap">
	    <p> <strong> # Bandung-Point-of-Interest </strong> </p>
	    <br>
		<p> This is a hybrid Ionic mobile apps. Show public's interest places around Bandung, Indonesia. This apps is a part of final project bachelor degree by Alifa Nurani Putri 13511074</p>
		<br>
		<p> The public interest is extracted with multi-channel crowdsourcing, data text and number from several social media. </p>
		<br>
		<p><strong>Credits</strong></p>
		<br>
		<p>Ricardo Moreira from the noun project for the apps logo </p>
		<p>useiconic.com from the noun project for the marker </p>
		<p>yoni david, IL  from the noun project for the guest avatar</p>
	  </div>
	</div>
  </ion-content>
</ion-view>


