<ion-view view-title="BEST RATE LOCATION">
  <ion-content>
    <div class="list">
      <div class="item item-large item-calm item-button-right">
        <i class="fa fa-star fa-fw"></i>&nbsp;  <strong> Best Rate Location</strong>
      </div>
      <a class="item" href="#/app/location/1">
        <i class="calm"> 4.7 </i >&nbsp; Alun - Alun
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm"> 4.3 </i >&nbsp; Taman Hutan Raya
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm"> 4.0 </i >&nbsp; Taman Film
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.8  </i > &nbsp; Taman Pustaka Bunga Cilaki
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.7  </i > &nbsp; Taman Film
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.5 </i > &nbsp; Taman Musik
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.5  </i > &nbsp; Taman Lalulintas
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.4 </i > &nbsp; Pet Park
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.2 </i > &nbsp; Taman Superhero
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.2 </i > &nbsp; Taman Balai Kota
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.1 </i > &nbsp; Taman Pramuka
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.1 </i > &nbsp; Taman Cibeunying
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  3.0 </i > &nbsp; Taman Ganesha
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  2.9 </i > &nbsp; Taman Hutan Raya
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  2.8 </i > &nbsp; Taman Vanda 
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  2.0 </i > &nbsp; Taman Dzikir
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm">  1.8  </i > &nbsp; Taman Anak
      </a>
      
    </div>
  </ion-content>
</ion-view>