<ion-view view-title="CHECK IN & RATE">
  <ion-content>
    <div  class="map-content" data-tap-disabled="true">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="small-map" bounds="map.bounds">
        <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                  visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
          </ui-gmap-circle>
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
          </ui-gmap-marker>
          <ui-gmap-marker coords="mylocation.coords" options="mylocation.options" events="mylocation.events" idkey="mylocation.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div class="list ">
      <a class="item item-icon-left" href="#/app/rate/1">
        <h2> <i class="icon ion-ios-location"></i> Alun Alun</h2>
        <p>500 m</p>
      </a>
      <a class="item item-icon-left" href="#/app/rate/1">
        <h2> <i class="icon ion-ios-location"></i> Taman Lalu Lintas</h2>
        <p>1.1 km</p>
      </a>
      <a class="item item-icon-left" href="#/app/rate/1">
        <h2> <i class="icon ion-ios-location"></i> Taman Lansia</h2>
        <p>3.2 km</p>
      </a>
      <a class="item item-icon-left" href="#/app/rate/1">
        <h2> <i class="icon ion-ios-location"></i> Taman Hutan Raya</h2>
        <p>1.8 km</p>
      </a>
      <a class="item item-icon-left" href="#/app/rate/1">
        <h2> <i class="icon ion-ios-location"></i> Taman Super Hero</h2>
        <p>3 km</p>
      </a>
    </div>

  
  </ion-content>
</ion-view>


