<ion-view view-title="CHECK IN & RATE">
  <ion-content>
    <div  class="map-content" data-tap-disabled="true">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="small-map" bounds="map.bounds">

          <ui-gmap-marker coords="mylocation.coords" options="mylocation.options" events="mylocation.events" idkey="mylocation.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
    <div class="list ">
      <label class="item ">
        <button class="button button-full icon-left button-positive" ng-click="add()">
           <i class="icon ion-plus"> </i>&nbsp;  Add new location
        </button>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div ng-repeat="location in locations | orderBy:'distance'">
      <a class="item item-icon-left" href="#/app/rate/{{location.id}}">
        <h2> <i class="icon ion-ios-location"></i> {{location.name}}</h2>
        <p ng-show="location.distance < 1000">{{location.distance}} m</p>
        <p ng-show="location.distance >= 1000">{{location.distance/1000}} km</p>
      </a>
    </div>

  
  </ion-content>
</ion-view>


