<ion-view view-title="LOCATION LOOK-UP">
  <ion-content>
    <div class="list"> 
      <a class="item item-thumbnail-left item-text-wrap" href="#">
          <img ng-src="./img/location/1.jpg"> </img>
          <br>
          <i class="location">{{location.name}}</i>
          <p><i class="fa fa-map-marker fa-fw"></i> {{location.category.name}}</p>
          <p> {{location.description}}</p>
      </a>
      <a class="item item-divider item-positive" href="#">
          <strong class="public"> Popularity </strong>
      </a>
      <a class="item item-large item-light item-button-left" href="#">
          <button class="button button-positive button-outline">{{location.popularity}}</button>
          <p> &nbsp; &nbsp; #{{rank.popularityRank}} popular from {{rank.total}} {{location.category.name}}</p>
      </a>
      <a class="item item-divider item-calm" href="#">
          <strong class="public"> Rate </strong>
      </a>
      <a class="item item-large item-light item-button-left" href="#">
          <button class="button button-calm button-outline">{{location.rate}}</button>
          <p>&nbsp; &nbsp; #{{rank.rateRank}} best from {{rank.total}} {{location.category.name}} </p>
          <div class="row">
            <div class="col"> 
              <p ng-show="location.category.id==300"> Keramaian </p>
              <p ng-show="location.category.id==2"> Ketersediaan air </p>
              <p ng-show="location.category.id==3"> Luas Bangunan </p>
            </div>
            <div class="col"> <div star-rating ng-if="location.criteria1" ng-model="location.criteria1" readonly="isReadonly" max="5" on-rating-selected=""></div> </div>
          </div>
          <div class="row">
            <div class="col"> 
              <p ng-show="location.category.id==300"> Kebersihan </p>
              <p ng-show="location.category.id==2"> Kebersihan</p>
              <p ng-show="location.category.id==3"> Kebersihan </p>
            </div>
            <div class="col"> <div star-rating ng-if="location.criteria2" ng-model="location.criteria2" readonly="isReadonly" max="5" on-rating-selected=""></div> </div>
          </div>
          <div class="row">
            <div class="col"> 
              <p ng-show="location.category.id==300"> Fasilitas </p>
              <p ng-show="location.category.id==2"> Alat sholat</p>
              <p ng-show="location.category.id==3"> Pelayanan cepat </p>
            </div>
            <div class="col"> <div star-rating ng-if="location.criteria3" ng-model="location.criteria3" readonly="isReadonly" max="5" on-rating-selected=""></div> </div>
          </div>
          <div class="row">
            <div class="col"> 
              <p ng-show="location.category.id==300"> Wifi </p>
              <p ng-show="location.category.id==2"> Toilet</p>
              <p ng-show="location.category.id==3"> BPJS </p>
            </div>
            <div class="col"> <div star-rating ng-if="location.criteria4" ng-model="location.criteria4" readonly="isReadonly" max="5" on-rating-selected=""></div> </div>
          </div>
          <div class="row">
            <div class="col"> 
              <p ng-show="location.category.id==300"> Untuk anak </p>
              <p ng-show="location.category.id==2"> Luas memadai</p>
              <p ng-show="location.category.id==3"> Harga terjangkau </p>
            </div>
            <div class="col"> <div star-rating ng-if="location.criteria5" ng-model="location.criteria5" readonly="isReadonly" max="5" on-rating-selected=""></div></star-rating> </div>
          </div>
          
      </a>
      <a class="item item-divider item-balanced" href="#">
          <strong class="public"> Issue </strong>
      </a>
      <a class="item item-large item-light" href="#">
          <p><i class="public "> <strong class="balanced">#1</strong> {{location.issue1}}</i> <span class="balanced"> ({{location.hits1}} hits) </span> </p>
          <p><i class="public "> <strong class="balanced">#2</strong> {{location.issue2}}</i> <span class="balanced"> ({{location.hits2}} hits) </span> </p>
          <p><i class="public "> <strong class="balanced">#3</strong> {{location.issue3}}</i> <span class="balanced"> ({{location.hits3}} hits) </span> </p>
      </a>
    </div>
  </ion-content>
</ion-view>

