<ion-view view-title="Login" name="login-view" hide-nav-bar="true"> 
  <div class="full-overlay" >
    <ion-content class="padding">
      <div class="login-page">
        <div class="logo"></div>
        <!-- Buttons 
        <button class="button fb button-block button-positive" ng-click="login('facebook')">  <i class="fa fa-facebook fa-fw"></i>Login with Facebook</button>
        <!-- Logged-in user text 
        <div class="card">
          <div class="item item-text-wrap" ng-hide="user">User not logged in</div>
          <div class="item item-text-wrap" ng-show="user" ng-bind="user.uid"></div>
        </div> -->
        <div class="list list-inset">
            <label class="item item-input">
                <i class="fa fa-user fa-fw"></i>&nbsp; &nbsp;  <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <i class="fa fa-key fa-fw"></i>&nbsp; &nbsp; <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button migme button-block " ng-click="login()"><div class="text-white"><strong>Login</strong></div></button>
        <div class="guest">
          <div class="hint"> don't have account? </div>
          <div class="hint">
           <a  style="text-decoration: none;" href class="hint" ng-click=""><strong>register</strong></a>
            or continue as
           <a  style="text-decoration: none;" href class="hint" ng-click="guest()"><strong>guest</strong></a>
          </div>
        </div>
       
      </div>
    </ion-content>
  <div>
</ion-view>