<ion-view view-title="Login" name="login-view" hide-nav-bar="true"> 
  <div class="full-overlay" >
    <ion-content class="padding">
      <div class="login-page">
        <div class="logo"></div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="fa fa-user fa-fw"></i>&nbsp; &nbsp;  <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <i class="fa fa-key fa-fw"></i>&nbsp; &nbsp; <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button migme button-block " ng-click="login()"><div class="text-white"><strong>Login</strong></div></button>
        <div class="guest">
           <a  style="text-decoration: none;" href ng-click="guest()"><div class="hint">or continue as <strong>guest</strong></div></a>
        </div>
       
      </div>
    </ion-content>
  <div>
</ion-view>