<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
      <div class="item item-avatar profile-preview">
        <img class="profile-picture" src="img/user/guest.png">
        <h2>{{user.name}}</h2>
        <p><a style="text-decoration: none;"  class="link" ng-click="logout()" href="" ng-show="user.name!='Guest'" menu-close>Logout</a></p>
        <p><a style="text-decoration: none;"  class="link" ng-click="login()" href="/#/login" ng-show="user.name=='Guest'" menu-close>Register</a></p>
    </div>
      <ion-list>
        <ion-item menu-close href="#/app/findPOI">
          <div class="text-menu"> <i class="fa fa-map-marker fa-fw"></i>&nbsp; <strong> Find POI </strong></div>
        </ion-item>
        <ion-item menu-close href="#/app/stat">
           <div class="text-menu"><i class="fa fa-pie-chart fa-fw"></i>&nbsp; <strong> Statistics </strong></div>
        </ion-item>
        <ion-item menu-close href="#/app/checkin">
           <div class="text-menu"><i class="fa fa-check-circle fa-fw"></i>&nbsp; <strong> Check In & Rate </strong></div>
        </ion-item>
        <ion-item menu-close href="#/app/history">
           <div class="text-menu"><i class="fa fa-history fa-fw"></i>&nbsp; <strong> My History </strong></div>
        </ion-item>
        <ion-item menu-close href="#/app/about">
           <div class="text-menu"><i class="fa fa-flag fa-fw"></i>&nbsp; <strong> About </strong></div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
