<ion-view view-title="POPULAR ISSUE">
  <ion-content>
    <div class="list">

      <div class="item item-large item-balanced item-button-right">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;  <strong> Popular Issue </strong>
      </div>
      <a class="item item-bedge-left" href="#/app/location/1">
        <i class="balanced">  33%   </i >&nbsp; festival
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">   17%  </i > &nbsp; kita
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">  10%  </i > &nbsp; anak 
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">  10%  </i > &nbsp; free
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">  10%  </i > &nbsp; wanita
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">  10%  </i > &nbsp; nonton
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">  10%  </i > &nbsp; malam
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced">  10%  </i > &nbsp; acara
      </a>
    </div>
  </ion-content>
</ion-view>