<ion-view view-title="POPULAR LOCATION">
  <ion-content>

    <div class="list">
      <div class="button-bar" >         

        <ion-checkbox class="check-find" ng-model="show.park" ng-click="loadStat()"><img class="icon-find" src="img/park-only.png">  </ion-checkbox>
        <ion-checkbox class="check-find" ng-model="show.hospital" ng-click="loadStat()"> <img class="icon-find" src="img/hospital-only.png">  </ion-checkbox>
        <ion-checkbox class="check-find" ng-model="show.mosque" ng-click="loadStat()"> <img class="icon-find" src="img/mosque-only.png">   </ion-checkbox>
    </div>
      <div class="item item-large item-positive item-button-right">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;  <strong> Popular Location </strong>
      </div>

      <div ng-repeat="location in popularity track by location.id">
        <a class="item" href="#/app/location/{{location.id}}">
          <i class="positive">  {{location.popularity}}   </i >&nbsp; {{location.name}}
        </a>
      </div>
      
    </div>
  </ion-content>
</ion-view>