<ion-view view-title="POPULAR LOCATION">
  <ion-content>
    <div class="list">

      <div class="item item-large item-positive item-button-right">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;  <strong> Popular Location </strong>
      </div>
      <a class="item item-bedge-left" href="#/app/location/1">
        <i class="positive">  33%   </i >&nbsp; Alun - Alun
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">   17%  </i > &nbsp; Taman Lansia
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  10%  </i > &nbsp; Taman Jomblo
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Pustaka Bunga Cilaki
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Film
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Musik
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Lalulintas
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Pet Park
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Superhero
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Balai Kota
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  5%  </i > &nbsp; Taman Pramuka
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  2%  </i > &nbsp; Taman Cibeunying
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  2%  </i > &nbsp; Taman Ganesha
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  2%  </i > &nbsp; Taman Hutan Raya
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  2%  </i > &nbsp; Taman Vanda 
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  1%  </i > &nbsp; Taman Dzikir
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  1%  </i > &nbsp; Taman Anak
      </a>
    </div>
  </ion-content>
</ion-view>