<ion-view view-title="PUBLIC INTEREST">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;  <strong> Popular Location </strong>
      </div>
      <a class="item" href="#">
        Alun - Alun
      </a>
      <a class="item" href="#">
        Taman Lansia
      </a>
      <a class="item" href="#">
        Taman Jomblo
      </a>
      <div class="item item-divider">
        <i class="fa fa-star fa-fw"></i>&nbsp;  <strong> Best Rate Location</strong>
      </div>
      <a class="item" href="#">
        Alun - Alun
      </a>
      <a class="item" href="#">
        Taman Hutan Raya
      </a>
      <a class="item" href="#">
        Taman Film
      </a>
      <div class="item item-divider">
        <i class="fa fa-comment fa-fw"></i>&nbsp;  <strong> Popular Issue </strong>
      </div>
      <a class="item" href="#">
        Malming
      </a>
      <a class="item" href="#">
        Begal
      </a>
      <a class="item" href="#">
        Ridwan Kamil
      </a>
    </div>
  </ion-content>
</ion-view>