<ion-view view-title="STATISTICS">
  <ion-content>
    <div class="list">

      <div class="item item-large item-positive item-button-right">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;  <strong> Popular Location </strong>
        <a class="button button-light button-clear button-small" href="#/app/popularloc">
        <i class="fa fa-search"></i>
        </a>
      </div>
      <a class="item" href="#/app/location/1">
        <i class="positive">  33%   </i >&nbsp; Alun - Alun
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">   18%  </i > &nbsp Taman Lansia
      </a>
      <a class="item" href="#/app/location/1">
        <i class="positive">  10%  </i > &nbsp Taman Jomblo
      </a>
      <div class="item item-large item-calm item-button-right">
        <i class="fa fa-star fa-fw"></i>&nbsp;  <strong> Best Rate Location</strong>
        <a class="button button-light button-clear button-small" href="#/app/bestrateloc">
        <i class="fa fa-search"></i>
        </a>
      </div>
      <a class="item" href="#/app/location/1">
        <i class="calm"> 4.7 </i >&nbsp; Alun - Alun
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm"> 4.3 </i >&nbsp; Taman Hutan Raya
      </a>
      <a class="item" href="#/app/location/1">
        <i class="calm"> 4.0 </i >&nbsp; Taman Film
      </a>
      <div class="item item-large item-balanced item-button-right">
        <i class="fa fa-comment fa-fw"></i>&nbsp;  <strong> Popular Issue </strong>
        <a class="button button-light button-clear button-small" href="#/app/popularissue">
        <i class="fa fa-search"></i>
        </a>
      </div>
      <a class="item" href="#/app/location/1">
        <i class="balanced"> 20% </i >&nbsp; Malming
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced"> 13% </i >&nbsp; Begal
      </a>
      <a class="item" href="#/app/location/1">
        <i class="balanced"> 13% </i >&nbsp; Ridwan Kamil
      </a>
    </div>
  </ion-content>
</ion-view>