<ion-view view-title="STATISTICS">
  <ion-content>
    <div class="button-bar" >         

        <ion-checkbox class="check-find" ng-model="show.park" ng-click="loadStat()"><img class="icon-find" src="img/park-only.png">  </ion-checkbox>
        <ion-checkbox class="check-find" ng-model="show.hospital" ng-click="loadStat()"> <img class="icon-find" src="img/hospital-only.png">  </ion-checkbox>
        <ion-checkbox class="check-find" ng-model="show.mosque" ng-click="loadStat()"> <img class="icon-find" src="img/mosque-only.png">   </ion-checkbox>
    </div>
    <div class="list">

      <div class="item item-large item-positive item-button-right" href="#/app/popularloc">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;  <strong> Popular Location </strong>
        <a class="button button-light button-clear button-small" href="#/app/popularloc">
        <i class="fa fa-search"></i>
        </a>
      </div>
      <a class="item" href="#/app/location/{{popularity[0].id}}">
        <i class="positive">  {{popularity[0].popularity}}   </i >&nbsp; {{popularity[0].name}}
      </a>
      <a class="item" href="#/app/location/{{popularity[1].id}}">
        <i class="positive">   {{popularity[1].popularity}}   </i > &nbsp {{popularity[1].name}}
      </a>
      <a class="item" href="#/app/location/{{popularity[2].id}}">
        <i class="positive">  {{popularity[2].popularity}}   </i > &nbsp {{popularity[2].name}}
      </a>
      <div class="item item-large item-calm item-button-right" href="#/app/bestrateloc">
        <i class="fa fa-star fa-fw"></i>&nbsp;  <strong> Best Rate Location</strong>
        <a class="button button-light button-clear button-small" href="#/app/bestrateloc">
        <i class="fa fa-search"></i>
        </a>
      </div>
      <a class="item" href="#/app/location/{{bestRated[0].id}}">
        <i class="calm"> {{bestRated[0].rate}} </i >&nbsp; {{bestRated[0].name}}
      </a>
      <a class="item" href="#/app/location/{{bestRated[1].id}}">
        <i class="calm"> {{bestRated[1].rate}} </i >&nbsp; {{bestRated[1].name}}
      </a>
      <a class="item" href="#/app/location/{{bestRated[2].id}}">
        <i class="calm"> {{bestRated[2].rate}} </i >&nbsp; {{bestRated[2].name}}
      </a>
      <div class="item item-large item-balanced item-button-right" href="#/app/popularissue">
        <i class="fa fa-comment fa-fw"></i>&nbsp;  <strong> Popular Issue </strong>
        <a class="button button-light button-clear button-small" href="#/app/popularissue">
        <i class="fa fa-search"></i>
        </a>
      </div>
      <a class="item" >
        <i class="balanced"> {{issue[0].hits}} hits</i >&nbsp; {{issue[0].word}}
      </a>
      <a class="item" >
        <i class="balanced"> {{issue[1].hits}} hits</i >&nbsp; {{issue[1].word}}
      </a>
      <a class="item" >
        <i class="balanced"> {{issue[2].hits}} hits </i >&nbsp; {{issue[2].word}}
      </a>
    </div>
  </ion-content>
</ion-view>